@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
::-webkit-scrollbar {
  width: 1vw; /* THIS WILL RESET THE DEFAULT SCORLLBAR STYLING */
}
h1 {
  font-family: "Righteous", sans-serif;
}
/* TO STYLE THE SCROLLBAR TRACK */
::-webkit-scrollbar-track {
  background-color: #081639;
  border-radius: 2rem; /* THIS WILL SET THE COLOR OF THE SCROLLBAR TRACK */
}

/* TO STYLE THE SCROLLBAR THUMB */
::-webkit-scrollbar-thumb {
  background-color: #fbfcfc;
  border: 0.3vw solid #081639;
  border-radius: 5vw;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0170fd;
}
.box {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 2px solid #fbfcfc;
  transition: box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
  background-color: #fbfcfc;
}

.box:hover {
  border: 2px solid rgb(1, 112, 253);
  box-shadow: rgba(1, 112, 253, 0.4) -5px 5px, rgba(1, 112, 253, 0.3) -10px 10px,
    rgba(1, 112, 253, 0.2) -15px 15px, rgba(1, 112, 253, 0.1) -20px 20px,
    rgba(1, 112, 253, 0.05) -25px 25px;
}

body {
  background-color: #081639;
}
